services:
  redis:
    image: redis:5-alpine
    command: [sh, -c, "rm -f /data/dump.rdb && redis-server --save ''"]

  manager:
    build: container_manager
    ports:
      - "8000:80"
    volumes:
      - ./config.ini:/config/config.ini
    links:
      - eventos
      - lbeventos
      - redis
    depends_on:
      - lbeventos
      - lbconsulta
      - redis

  lbconsulta:
    image: dockercloud/haproxy
    depends_on:
      - consulta
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - ADDITIONAL_SERVICES=sqlstreamify:consulta

  lbeventos:
    image: dockercloud/haproxy
    depends_on:
      - eventos
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - ADDITIONAL_SERVICES=sqlstreamify:eventos

  eventos:
    scale: {{ v.instancias_eventos }}
    build: container_eventos
    #ports:
    #    - "8001:80"
    environment:
        FLASK_DEBUG: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.ini:/config/config.ini
      - './container_eventos:/app'
    links:
      - lbconsulta
      - consulta
      - redis
    depends_on:
      - lbconsulta
      - consulta
      - redis

  consulta:
    scale: {{ v.instancias_consulta }}
    build: container_consulta
    environment:
        FLASK_DEBUG: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config.ini:/config/config.ini
      - './container_consulta:/app'
    links:
      - redis
      - mqtt

  webui:
    build: webui
    ports:
      - 8080:80
    environment:
        FLASK_DEBUG: 1
    volumes:
      - ./config.ini:/config/config.ini
      - './webui:/app'
    links:
      - redis

  mqtt:
    build: mqtt
    #environment:
    #RABBITMQ_ERLANG_COOKIE: "SWQOKODSQALRPCLNMEQG"
    #RABBITMQ_DEFAULT_USER: "rabbitmq"
    #RABBITMQ_DEFAULT_PASS: "rabbitmq"
    #RABBITMQ_DEFAULT_VHOST: "/"
    ports:
      - "15672:15672"
      - "5672:5672"
      - "15674:15674"
      - "15675:15675"
    #volumes:
    #- "./enabled_plugins:/etc/rabbitmq/enabled_plugins"
    #- "./rabbitmq.config:/etc/rabbitmq/rabbitmq.config:ro"
    #- "./autocluster-0.4.1.ez:/usr/lib/rabbitmq/lib/rabbitmq_server-3.5.5/plugins/autocluster-0.4.1.ez"
