<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>SQLStreamify</title>

    {% include 'include_top.html' %}
  </head>

  <body>
    <!-- Barra superior -->
    {% include 'barra_superior.html' %}


    <div class="container-fluid">
      <!-- Barra Lateral -->
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky pt-5 mt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <i class="fas fa-fw fa-tachometer-alt"></i>
                  <span>Dashboard</span></a
                >
              </li>
            </ul>

            <h6
              class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
            >
              <span>Consultas em execução</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              {% for item in queries %}
              <li class="nav-item"></li>
                <a class="nav-link" href="/{{ item }}">
                  <i class="fas fa-table"></i>
                  {{ item }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </nav>
        <!--Fim da barra lateral-->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
          >
            <h1 class="h2">Dashboard</h1>
          </div>
          <!-- Content Row - Linha com sumário -->
          <div class="row">
            <!-- Quantidade de Containeres -->
            {% for item in queries %}
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <a
                        href="/{{ item }}"
                        class="text-xs h5 font-weight-bold text-primary text-uppercase mb-1"
                        >{{ item }}</a
                      >
                      <div
                        class="h6 mb-0 font-weight-bold"
                        id="viewCount{{ item }}"
                      >
                      Eventos:  -
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-search fa-2x"></i>
                    </div>
                  </div>
                  <div class="row no-gutters align-items-left">
                    <div
                    class="h6 mb-0 font-weight-bold">
                      Conteineres:
                    </div>
                  </div>
                  <div class="row no-gutters align-items-left mb-0">
                    <i class="fas fa-truck"></i>
                    <div
                    class="mb-0"
                    id="viewContainerEvento{{ item }}"
                    >
                      hostname.container
                    </div>
                  </div>
                  <div class="row no-gutters align-items-left mb-0">
                    <i class="fas fa-truck"></i>
                    <div
                    class="mb-0"
                    id="viewContainerConsulta{{ item }}"
                    >
                      hostname.container
                    </div>
                  </div>

                </div>
              </div>
            </div>
            {% endfor %}

            <!-- Content Row -->
          </div>
        </main>
      </div>
    </div>

    {% include 'include_bottom.html' %}

    <script>
      //buscar por stats de cada busca e atualizar utilizando JS
      function buscarStatsLive() {
        {% for item in queries %}
          const textViewCount{{ item }} = document.getElementById('viewCount{{ item }}');
          const textViewContainerEvento{{ item }} = document.getElementById('viewContainerEvento{{ item }}');
          const textViewContainerConsulta{{ item }} = document.getElementById('viewContainerConsulta{{ item }}');
        {% endfor %}

          setInterval(function (){
            {% for item in queries %}
            fetch('/count/{{ item }}').then(function (response) {
              return response.json();
            }).then(function (data) {
              $('viewCount{{ item }}').fadeOut("slow");
              textViewCount{{ item }}.textContent = "Eventos: " + data.count;
              $('viewCount{{ item }}').fadeIn();
            }).catch (function (error) {
              console.log(error);
            });
            {% endfor %}

            {% for item in queries %}
            fetch('/containerEvento/{{ item }}').then(function (response) {
              return response.json();
            }).then(function (data) {
              $('viewContainerEvento{{ item }}').fadeOut("slow");
              textViewContainerEvento{{ item }}.textContent = data.container;
              $('viewContainerEvento{{ item }}').fadeIn();
            }).catch (function (error) {
              console.log(error);
            });
            {% endfor %}


            {% for item in queries %}
            fetch('/containerConsulta/{{ item }}').then(function (response) {
              return response.json();
            }).then(function (data) {
              $('viewContainerConsulta{{ item }}').fadeOut("slow");
              textViewContainerConsulta{{ item }}.textContent = data.container;
              $('viewContainerConsulta{{ item }}').fadeIn();
            }).catch (function (error) {
              console.log(error);
            });
            {% endfor %}



          }, 1000);
        }


      document.addEventListener('DOMContentLoaded', function () {
        buscarStatsLive();
      });
    </script>
  </body>
</html>
